<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ошибка</title>
    <link rel="stylesheet" href="/css/errorStyle.css">
</head>
<body>
<div class="container">
    <div id="error-403">
        <img src="https://media.giphy.com/media/WLbtNNR5TKJBS/giphy.gif?cid=ecf05e47b4if2of8dcfqpebqnk8g07i9aguj30yp4foxavxy&ep=v1_gifs_search&rid=giphy.gif&ct=g" alt="Гифка с ошибкой" width="300">
        <h1>403</h1>
        <p>Эй, сюда нельзя! Этот пес слишком серьезный. 🐶</p>
    </div>
</div>
</body>
</html>

