<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ошибка</title>
    <link rel="stylesheet" href="/css/errorStyle.css">
</head>
<body>
<div class="container">
    <div id="error-404">
        <img src="https://media.giphy.com/media/XrDT8BuYB3I2s/giphy.gif?cid=790b7611g2vdxypjio7mzc62cc6mvl8pm42gyt911aink91d&ep=v1_gifs_search&rid=giphy.gif&ct=g" alt="Гифка с ошибкой" width="300">
        <h1>404</h1>
        <p>Ой-ой! Похоже, эта страница отправилась в отпуск. 🏖️</p>
    </div>
</div>
</body>
</html>