<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ошибка</title>
  <link rel="stylesheet" href="/css/errorStyle.css">
   </head>
<body>
<div class="container">
  <div id="error-general">
    <img src="https://media.giphy.com/media/5YEgnkjeryvwA/giphy.gif?cid=ecf05e47iys0cel7kuvpfmmbihy6f7n7mb6wykcnwej7dfzq&ep=v1_gifs_search&rid=giphy.gif&ct=g" alt="Гифка с ошибкой" width="300">
    <h1>Упс!</h1>
    <p>Что-то пошло не так. Наш робот сломался, но мы уже чиним! 🛠️</p>
  </div>
</div>
</body>
</html>