<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профиль владельца</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<a href="/logout" class="logout-button">Выйти</a>
<div class="container">
    <div class="profile-info">
        <div class="role-badge" th:text="'Роль: ' + ${roles}"></div>
        <div class="username" th:text="${username}"></div>
    </div>

    <div class="buttons-container">
        <a href="/menu" class="button">Просмотр меню</a>
        <a href="/employees" class="button">Работники</a>
        <a href="/orders" class="button">Заказы</a>
        <a href="/" class="button">Касса</a>
        <a href="/menu/stop-list" class="button">Стоп лист</a>
        <a href="/menu/create" class="button">Создать меню</a>
    </div>
</div>
</body>
</html>
